In [1]:
import pandas as pd

In [2]:
with open('One.txt') as mytext:
    print(mytext.read())

This is a story about dogs
our canine pets
Dogs are furry animals

In [3]:
with open('Two.txt') as mytext:
    print(mytext.read())

This story is about surfing
Catching waves is fun
Surfing is a popular water sport

In [4]:
with open('One.txt') as mytext:
    entire_text = mytext.read()

In [5]:
entire_text

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [6]:
print(entire_text)

This is a story about dogs
our canine pets
Dogs are furry animals

In [7]:
with open('One.txt') as mytext:
    lines = mytext.readlines()

In [8]:
lines

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

In [9]:
with open('One.txt') as f:
    words = f.read().lower().split()
    
words

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [10]:
with open('One.txt') as f:
    words_one = f.read().lower().split()

In [11]:
words_one

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [12]:
len(words_one)

13

In [13]:
uni_words_one = set(words)

uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [14]:
## Repeat for Two.txt

In [15]:
with open('Two.txt') as f:
    words_two = f.read().lower().split()
    uni_words_two = set(words_two)

In [16]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [17]:
all_uni_words = set()
all_uni_words.update(uni_words_one)
all_uni_words.update(uni_words_two)

In [18]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [19]:
full_vocab = dict()
i = 0

for word in all_uni_words:
    full_vocab[word] = i
    i = i+1

In [20]:
# Do not expect this to be in alphabetical order! 
# The for loop goes through the set() in the most efficient way possible, not in alphabetical order!
full_vocab

{'a': 0,
 'furry': 1,
 'catching': 2,
 'water': 3,
 'surfing': 4,
 'animals': 5,
 'sport': 6,
 'canine': 7,
 'popular': 8,
 'this': 9,
 'is': 10,
 'waves': 11,
 'about': 12,
 'dogs': 13,
 'are': 14,
 'pets': 15,
 'story': 16,
 'fun': 17,
 'our': 18}

In [21]:
# Create an empty vector with space for each word in the vocabulary:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [22]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [23]:
two_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [25]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [26]:
all_words

['a',
 'furry',
 'catching',
 'water',
 'surfing',
 'animals',
 'sport',
 'canine',
 'popular',
 'this',
 'is',
 'waves',
 'about',
 'dogs',
 'are',
 'pets',
 'story',
 'fun',
 'our']

In [27]:
# map the frequencies of each word in 1.txt to our vector:
with open('One.txt') as f:
    one_text = f.read().lower().split()
    
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind]+=1

In [28]:
one_freq

[1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 2, 1, 1, 1, 0, 1]

In [29]:
# Do the same for the second document:
with open('Two.txt') as f:
    two_text = f.read().lower().split()
    
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind]+=1

In [30]:
two_freq

[1, 0, 1, 1, 2, 0, 1, 0, 1, 1, 3, 1, 1, 0, 0, 0, 1, 1, 0]

In [31]:
pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

,a,furry,catching,water,surfing,animals,sport,canine,popular,this,is,waves,about,dogs,are,pets,story,fun,our
0,1,1,0,0,0,1,0,1,0,1,1,0,1,2,1,1,1,0,1
1,1,0,1,1,2,0,1,0,1,1,3,1,1,0,0,0,1,1,0

In [32]:
from sklearn.feature_extraction.text import TfidfTransformer,TfidfVectorizer,CountVectorizer

In [35]:
text = ['This is a line', 
        'This is another line',
        'Completely different line'
         ]

In [36]:
cv = CountVectorizer()

In [38]:
cv.fit_transform(text)

<3x6 sparse matrix of type '<class 'numpy.int64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [39]:
 sparse_mat = cv.fit_transform(text)

In [40]:
sparse_mat.todense()

matrix([[0, 0, 0, 1, 1, 1],
        [1, 0, 0, 1, 1, 1],
        [0, 1, 1, 0, 1, 0]])

In [41]:
cv.vocabulary_

{'this': 5, 'is': 3, 'line': 4, 'another': 0, 'completely': 1, 'different': 2}

In [42]:
cv = CountVectorizer(stop_words='english')

In [43]:
cv.fit_transform(text).todense()

matrix([[0, 0, 1],
        [0, 0, 1],
        [1, 1, 1]])

In [44]:
cv.vocabulary_

{'line': 2, 'completely': 0, 'different': 1}

In [45]:
tfidf_transformer = TfidfTransformer()

In [46]:
cv = CountVectorizer()

In [47]:
counts = cv.fit_transform(text)

In [48]:
counts

<3x6 sparse matrix of type '<class 'numpy.int64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [49]:
tfidf = tfidf_transformer.fit_transform(counts)